<div class="weatherWidget">
	{{#each partials.weather.locations}}
		<div class="location">
			<h3>{{name}}</h3>
			<p>
				<img src="{{iconUrl}}"/>
				{{weather}}, {{temp}}
			</p>
		</div>
	{{/each}}
</div>